OLD/
nimcache/
*.exe
*.o
*.obj
tests/all
examples/hello/hello

# Compiled Nim binaries (no extension)
src/nimbling/cli
src/nimbling/jsgen
src/nimbling/runtime
src/nimbling/emscripten
src/nimbling/js_sys
src/nimbling/macroimpl_attrs
src/nimbling/web_sys
src/nimbling/webidl
src/nimbling/wit
src/nimbling/test_runner
src/nimbling/transforms
src/nimbling/interp
src/nimbling/codegen
src/nimbling/describe
src/nimbling/decode
src/nimbling/encode
src/nimbling/common
src/nimbling/macroimpl
src/nimbling/macroimpl_closure
src/nimbling/macroimpl_async
src/nimbling/macroimpl_webidl
